
body{
  margin: 0;
  padding: 0;
}

main{
  display: flex;

}

div{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;

}





main h1, main p{
  margin: 20px auto;
  text-align: center;
}

main h1{
  font-size: 2.5em;
  margin-top: 5vh;
  font-family: 'Baloo Chettan 2', cursive;
}

main p{
  font-size: 1.5em;
  font-family: monospace;
}main p strong{
  color: #F06520;
}

.contact{
  margin: 40px auto;
  font-family: monospace;
  text-align: center;
}
.contact p{
  margin: 5px;
}

main img{
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}

.gravner{
  margin-top: 10px;
}
